<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="novo()"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Deletar" icon="pi pi-trash" class="p-button-danger" 
                (click)="deletarSelectedUsuarios()" 
                [disabled]="!selectedUsuarios || !selectedUsuarios.length">
            </button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="usuarios" [rows]="5" [paginator]="true" [globalFilterFields]="['nome','apelido']"
        [(selection)]="selectedUsuarios" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Buscar" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                <th pSortableColumn="apelido">Apelido <p-sortIcon field="apelido"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>
                    <p-tableCheckbox [value]="usuario"></p-tableCheckbox>
                </td>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.apelido}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editarUsuario(usuario)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletarUsuario(usuario)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Total de {{usuarios ? usuarios.length : 0 }} usuários.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="usuarioDialog" [style]="{width: '450px'}" header="Detalhe usuário" [modal]="true" styleClass="p-fluid">
    
    <ng-template pTemplate="content">
        <form autocomplete="off" (ngSubmit)="salvarUsuario()" [formGroup]="formulario">
            <input id="codigo" type="hidden" pInputText formControlName="codigo" />
            <div class="p-field">
                <label for="nome">Nome</label>
                <input id="nome" type="text" pInputText formControlName="nome" />
                <p-messages severity="error" text="Informe um nome"
                                       *ngIf="!formulario.controls['nome'].valid&&
                                        formulario.controls['nome'].dirty">
                </p-messages>
            </div>
            <div class="p-field">
                <label for="apelido">Apelido</label>
                <input id="apelido" type="text" pInputText formControlName="apelido" />
            </div>
        
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="fecharDialog()"></button>
            <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" [disabled]="!formulario.valid"></button>
        
        </form>
    </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
